<!--Breadcrumb Start-->
<div class="breadcrumb-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <ul>
                        {% for crumb in crumbs %}
                            {% if crumb.isLast != true %}
                                <li class="home"><a href="{{ crumb.link }}">{{ crumb.mark }}</a><span>/ </span></li>
                            {% else %}
                                <li><strong>{{ crumb.mark }}</strong></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb-->