<html>
<body>
    <ul>
        <li>
            <a class='has-children' href='/app_dev.php/products/by-category/jacket'>Jackets !</a>
            <ul class="inner-cats">
                <li>
                    <a class='no-children' href='/app_dev.php/products/by-category/suede'>Suedes</a>
                </li>
                <li>
                    <a class='no-children' href='/app_dev.php/products/by-category/leather'>Leathers</a>
                </li>
            </ul>
        </li>
        <li>
            <a class='has-children' href='/app_dev.php/products/by-category/sweater'>Sweaters !</a>
            <ul class="inner-cats">
                <li>
                    <a class='no-children' href='/app_dev.php/products/by-category/wool'>Wools</a>
                </li>
                <li>
                    <a class='no-children' href='/app_dev.php/products/by-category/hoodie'>Hoodies</a>
                </li>
            </ul>
        </li>
        <li>
            <a class='has-children' href='/app_dev.php/products/by-category/trousers'>Trousers !</a>
            <ul class="inner-cats">
                <li>
                    <a class='has-children' href='/app_dev.php/products/by-category/jeans'>Jeans !</a>
                    <ul class="inner-cats">
                        <li>
                            <a class='no-children' href='/app_dev.php/products/by-category/test_sub_cat'>Test_sub_cats</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a class='no-children' href='/app_dev.php/products/by-category/blouse'>Blouses</a>
        </li>
    </ul>
</body>
</html>