{% extends 'Product/product.html.twig' %}

{% block unique_properties %}
    <p><strong>Sleeve length: </strong>{{ product.sleeveLength }}</p>
    <p><strong>Composition: </strong>{{ product.composition }}</p>
{% endblock %}

{% block child_content %}
    {{ parent() }}
{% endblock %}
