{% extends 'Product/product.html.twig' %}

{% block unique_properties %}
    <p><strong>Waist: </strong>{{ product.waist }}</p>
    <p><strong>Length: </strong>{{ product.length }}</p>
{% endblock %}

{% block child_content %}
    {{ parent() }}
{% endblock %}