{% extends 'Products/FiltersForms/Default.html.twig' %}
{% block other_fields %}
    <div class="sleeveLength_filter">
        <p>
            Sleeve length:
            {{ form_widget(filtersForm.sleeveMin, {'id': 'sleeve-min'}) }} -
            {{ form_widget(filtersForm.sleeveMax, {'id': 'sleeve-max'}) }}
            cm
        </p>
    </div>
{% endblock %}
